div.blog-detail>div.row.mt-0.mt-md-5>div.col-lg-8.col-md-7>div>div.mt-3.mt-md-5>ul>span {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #FF642F;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe-checkbox.form-check .form-check-input:checked[type="checkbox"] {
    background-image: url(../icons/checked.svg) !important;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: transparent;
    border: none;
    border-radius: unset;
}

div.newsletter.tstbite-components.recipe-component.bg-primary-light.mt-5.rounded-6.py-5.px-4 > div > form > input {
    background-image: url(../icons/mail.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
}